/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-oct-2015, 22:50:33
    Author     : End User
*/

div[id^="tab"] {
    display: none;
}

span.numeracion{
    font-weight: bold;
}

div[id^=tab_pregunta]{
    padding-bottom: 5px;
}

#prueba{
    padding-bottom: 20px;
}

/*------------------------------ RELACIONAR --------------------------------------*/

.relacionarContainer{
    display:flex;
    flex-direction: row;
}

.relacionarContainer .relacionarSpacer{
    width: 150px;
}

.relacionarContainer .relacionarColumna1 div, .relacionarContainer .relacionarColumna2 div{
    margin: 5px;
    padding: 5px;
    background-color: lightgray; 
}

.relacionarContainer .relacionarColumna1 div span, .relacionarContainer .relacionarColumna2 div span{
    max-width: 100px;
}

.relacionarContainer .relacionarColumna1 div:hover, .relacionarContainer .relacionarColumna2 div:hover{
    cursor: pointer;
}